<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>communicatewithcats</title>
    <link rel="stylesheet" href="stylelayout.css">
</head>
<body>
    <div id="wrapper">
        <header class="position">
            <h1>Communicate with cats</h1>
        </header>
        <nav>
            <a href="a">Gingers</a>
            <a href="a">Tuxedo</a>
            <a href="a">Burmese Cats</a>
        </nav>
        <div class="clear"></div>
        <main>
            <figure class="cat">
                <img src="cat11.jpg" alt="cutecat">
                <figurecaption>Picture of cute cat.</figurecaption>
            </figure>
            <p class="text">Cats can not speak the language we speak. However, they can communicate with us by their sounds and body movements.
               When a cat is meowing, it means they are hungry or they want your attention to play together or want to go out from a place. When they are purring, they really like the situation and they are feeling very comfortable. When they get scared and want other cats or humen to back off, they hiss.The growling sounds of cats is the last warning they give before they attack with anger.
               <br>Most of the time, you will notice that your cat is blinking at you. It is showing that your cat loves you and likes to be around you.
               When they tail-up, they are exciting, happy and having 100 percent of confidence. The rolling over movement is tricky one. Sometimes, they roll over to ask a geniue belly rub or it can also mean that they want to attack. Do not forget that cats can use all of their twenty nails whey they are in rolling over position. Whey they feel really upset or scared or angry, they flat their ears against the head. Whey they are swatting, please stop annoying them. A cat rubs to mark its territory or possession. When your cat is rubbing at a corner of a sofa, give it that spot.
            </p>
            <p class="bold">For more cute pictures of cats, click links above.</p>
            
        </main>
        <footer>&copy;Hayman 2025</footer>
    </div>
</body>
</html>