body{
    background-color:pink;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:red;
    font-size: 12pt;
}
#numberone{
    color:blue; 
}
.blue{
    color:blue;
}
.bigger{
    font-size: 18pt;
}
.bolder{
    font-weight: bold;
}
.green{
    color:green;
    background-color: rgb(195,230,229);
}