body{
    font-family:'Courier New', Courier, monospace;
    margin:0;
    
}
@media ONLY screen AND (max-width: 600px){
    .row{
        flex-direction: column;
        align-items: center;
    

        
    }
    .row_upper{
        flex-direction: column;
        align-items: center;
    }
    .wrapper{
        flex-direction: column;
    }
    .card{
        margin-bottom: 15px;
        width: 300px;
       
    }
    
    

}

@media ONLY screen AND (max-width:600px){
    nav{
        flex-direction: column;
    }
    nav a{
        border-radius: 0%;
    }
}

header{
    background-color: rgb(233, 211, 17);


}
header h1{
    margin:0;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(124, 240, 78);
    
}
.current{
    background-color: rgb(85, 76, 76);
    color:gray;
    
}
.wrapper{
    display:flex;
    padding:3px;
    


}
.side{
    width: 50%;
    margin-right: 300px;
}
nav a{
    display: block;
    padding: 10px;
    background-color:rgb(68, 150, 74);
    color:white;
    text-decoration: none;
    border-radius: 5px;
    
}
nav a:hover{
    text-decoration: underline;
    color:rgb(170, 60, 33);
    background-color: white;
}

.card{
    width:500px;
}
.card figure{
    margin:0;
}
.card img{
    width:100%;
}
.side{
    

    width:300px;
}
.side img{
    width:300px;
    margin-bottom: 100px;
}
.explain{
    font-weight: bold;
}
.card_upper{
    border:thin solid black;
    border-radius: 3px;
    width:200px;
    margin: 5px 5px 5px 5px;

}
.card_upper img{
    width:100%;
}
.row_upper{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.wrapper{
    display: flex;
    justify-content: space-evenly;
}
.wrapper aside{
    width:30%;
}
.wrapper table{
    order:-1;
}
.tabl{
    border: thin solid black;
    border-spacing: 3px;
    border-collapse: collapse;
}
.tabl thead th{
    background-color:#b3d326;
    border:thin solid black;
    color:white;
}
.tabl tbody td{
    border:thin solid black;
}
.tabl tbody tr:nth-child(even){
    background-color:rgb(199, 235, 101);
}
.tabl caption{
    caption-side: bottom;

}
.tabl tbody tr:nth-child(odd){
    background-color:rgb(238, 219, 48);
}
.form-row{
    display:flex;
    gap:10px;
    margin: 10px 0;

}
.radio-row{
    display: flex;
    gap:10px;
    text-align: right;
}
.form-row label{
    width: 150px;
    text-align: right;
    
}
.form-space{
    width:150px;
    text-align: right;
}
fieldset{
    background-color: rgb(167, 151, 16);
    color:white;
    padding: 10px 20px;
}
.form-row input{
    padding: 5px 10px;
    font-family: 'Courier New', Courier, monospace;
}
@media only screen AND (max-width: 600px){
    .form-row{
        flex-direction: column;
    }
    .form-row label{
        text-align: left;
    }

}
legend{
    background-color:rgb(199, 235, 101);
    border-radius: 20px;
    color:black;
    padding: 5px;
}
.form-row input:not([type="submit"]):focus{
    background-color:blanchedalmond;
}
.form-row input:not([type="submit"]){
    padding:5px 10px;
}
.form-row input[type="submit"]{
    padding:10px;
    background-color: rgb(199, 235, 101);
    border-radius: 20px;
}
.larger{
    font-size: larger;
}
iframe{
    border: 0; 
}
